/* css goes here n shi */
/*EARTH TONES ONLY FOR NOW*/

.quizbox {
    width: 6rem; 
    height: 6rem; 
    border: 1px solid #000;
}

#mains, #complements {
    height: 8rem;
}

#closet {
    height: 8rem;
    max-width: 60rem;
    margin: 0 auto;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: #ffffff;
}

.colorama-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #f4f1e6;
}

.colorama-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: .5rem;
    letter-spacing: .125rem;
    color: black;
}

.colorama-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #18365e;
    text-transform: uppercase;
}

.colorama-buttons {
    display: grid;
    gap: 1rem;
}

#learn-button {
    background-color: #A4C6E4;
    color:black; 
    border: .175rem solid #18365e;
    border-radius: 1rem;
    padding: 1.5rem 5rem;
    font-size: 1.25rem;
}

#quiz-button {
    background-color: #f4f1e6;
    color:black; 
    border: .175rem solid #18365e;
    border-radius: 1rem;
    padding: 1.5rem 5rem;
    font-size: 1.25rem;
}

/*EARTH TONES FOR EARTH DAY*/

.color-circle-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 3px solid #333;
  }
  
  .color-circle-small {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #333;
  }
  
  .color-label {
    position: absolute;
    bottom: -30px;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }
  
  .olive {
    background-color: #808000;
  }
  
  .tan {
    background-color: #D2B48C;
  }
  
  .brown {
    background-color: #8B5A2B;
  }
  
  .dark-green {
    background-color: #023b02;
  }
  
  .rose {
    background-color: #ff7da8;
  }
  
  .terracotta {
    background-color: #86401f;
  }
