{% extends "layout.html" %}

{% block content %}
<div class="colorama-container">
    <h1 class="colorama-title">COLORAMA</h1>
    <p class="colorama-subtitle">Learn colors for Men's Fashion</p>

    <div class="colorama-buttons">
        <a href="{{ url_for('learn') }}" id="learn-button" class="btn btn-lg btn-primary rounded-pill px-5">Learn</a>
        <a href="{{ url_for('quiz') }}" id="quiz-button" class="btn btn-lg btn-outline-primary rounded-pill px-5">Take the Quiz</a>
    </div>
</div>

{% endblock %}
