{% extends "layout.html" %}

{% block content %}

<script src="/static/learn.js"></script>
<div class="p-4 default-bg">
  <div class="text-center mb-4">
    <h2>Earth Tones</h2>
    <p class="my-3">Earth tones are colors inspired by natural elements like soil, moss, and stone. They create a grounded and harmonious aesthetic.</p>
  </div>

  <div class="container mb-5">
    <h4 class="text-center mb-3">Mains</h4>
    <div class="d-flex justify-content-center gap-5 mb-5">
      <div class="color-circle-large olive">
        <div class="color-label">Olive</div>
      </div>
      <div class="color-circle-large tan">
        <div class="color-label">Tan</div>
      </div>
      <div class="color-circle-large brown">
        <div class="color-label">Brown</div>
      </div>
    </div>
    
    <h4 class="text-center mb-3">Accents</h4>
    <div class="d-flex justify-content-center gap-4 mb-4">
      <div class="color-circle-small dark-green">
        <div class="color-label">Dark Green</div>
      </div>
      <div class="color-circle-small rose">
        <div class="color-label">Rose</div>
      </div>
      <div class="color-circle-small terracotta">
        <div class="color-label">Terracotta</div>
      </div>
    </div>
  </div>
  
  <div class="text-center mt-5">
    <a href="{{ url_for('quiz') }}" class="btn btn-primary">Take the Quiz</a>
  </div>
</div>

{% endblock %}